<div class="mt-8">
  <p class="text-lg font-medium">
    Jumlah Nelayan Jawa Barat Berdasarkan Jenis Perairan Umum
  </p>
</div>
<div class="mx-4 mt-6">
  <div>
    <ul class="pl-5 space-y-3 text-gray-600 list-disc marker:text-[#66c2a5]">
      <li>Tahun 2017 (20498 Nelayan)</li>
    </ul>
    <ul
      class="pl-5 space-y-3 text-gray-600 list-disc marker:text-[#fc8d62] mt-1"
    >
      <li>Tahun 2018 (75591 Nelayan)</li>
    </ul>
    <ul
      class="pl-5 space-y-3 text-gray-600 list-disc marker:text-[#8da0cb] mt-1"
    >
      <li>Tahun 2019 (114607 Nelayan)</li>
    </ul>
    <ul
      class="pl-5 space-y-3 text-gray-600 list-disc marker:text-[#e78ac3] mt-1"
    >
      <li>Tahun 2020 (108868 Nelayan)</li>
    </ul>
    <ul
      class="pl-5 space-y-3 text-gray-600 list-disc marker:text-[#a6d854] mt-1"
    >
      <li>Tahun 2021 (0 Nelayan)</li>
    </ul>
  </div>
</div>

<div class="mx-auto">
  <figure id="pie-perairan" class="w-20"></figure>
</div>
